---
title: dbuy app | Jera
---

<!-- Add your site or application content here -->

<br><br>

<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-3 hidden-sm hidden-xs">
			<div id="app-icon-placeholder">
				<%= image_tag 'iPhone@2x.png', :width => '174', :class => 'icon-iphone' %>

				<div class="app-icon">
					<%= image_tag 'app-icon.png', :width => '84', :class => '' %>
				</div>
			</div>
		</div>

		<div class="col-md-3" id="install">
			<h2 class="hidden-sm hidden-xs">Para instalar use o seu smartphone/tablet.</h2>

			<div class="media">
				<a class="pull-left hidden-md hidden-lg" href="#">
					<%= image_tag 'app-icon.png', :width => '84', :class => 'app-icon-img' %>
				</a>
				<div class="media-body">
					<h1>dbuy</h1>
					<p>versão 1.15</p>
					<p><i class="fa fa-apple"></i> iPhone</p>

					<div class="hidden-sm hidden-xs">
						<h3>Link curto</h3>
						<div class="shortlink">http://jera.io/dbuy</div>
					</div>
				</div>
			</div>

			<br>
			<button type="button" class="btn btn-primary btn-lg hidden-md hidden-lg download-button">Instalar o app</button>

		</div>
	</div>
</div>

<div class="specs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Detalhes da versão</h2>

				<p>Atualizado em:	<strong>14/05/2014</strong></p>
				<p>Tamanho:		<strong>1,18 MB</strong></p>
				<p>Compatibilidade:	<strong>3.1.3</strong></p>
				<p>Dispositivos:		<strong>iPhone</strong></p>

				<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Equipe de suporte</h2>

				<small>atendimento:</small>
				<p><strong>Auri</strong> (<a href="#">aurineide@jera.com.br</a>)</p>

				<small>design:</small>
				<p><strong>Ney Ricardo</strong> (<a href="#">neyricardo@jera.com.br</a>)</p>

				<small>desenvolvimento:</small>
				<p><strong>Marco</strong> (<a href="#">marco@jera.com.br</a>)</p>
			</div>
		</div>
	</div>
</div>